    <div class="container marketing">

    	<h1>Build That Bill has three steps:</h1>

      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading">1. Find the problems<span class="muted"> </span></h2>
        <p class="lead">Parents, teachers, kids, and every other interested party submits issues they have with the education system.  People vote on these issues and discuss them.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading">2. Make the solution<span class="muted"></span></h2>
        <p class="lead">With help from Build That Bill staff and software, volunteers create and share proposed legislation.  Legislation goes through an evolutionary process which is easily visible from the Build That Bill software.  Once the piece of legislation is complete and receives support, its on to the third and final step.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading">3. Get the bill to law makers hands, and make it a reality<span class="muted"></span></h2>
        <p class="lead">Build That Bill then works with its sponsors and network to get the proposed bill into law.  The education system just got better!</p>
      </div>

      <hr class="featurette-divider">
    </div>