    <div class="container">
      <div class="row">
        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel slide span9">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("flag.jpg") %>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Our Mission</h1>
                  <p class="lead">We help better education reform laws get passed faster by making it easy for people to create bills to hand to their representatives.</p>
                 <!-- <a class="btn btn-large btn-primary" href="#">Sign up today</a>-->
                </div>
              </div>
            </div>
            <div class="item">
              <%= image_tag("student.jpg") %>
              <div class="container">
                <div class="carousel-caption">
                  <h1>Poplar Issues</h1>
                  <p class="lead">By taking everyone's voice into account, we can see which issues concern people the most and address those first.</p>
                  <!-- <a class="btn btn-large btn-primary" href="#">Learn more</a> -->
                </div>
              </div>
            </div>
            <div class="item">
              <%= image_tag("congress.jpg") %>
              <div class="container">
                <div class="carousel-caption">
                  <h1>A movement is starting!</h1>
                  <p class="lead">In under 12 hours, we've already got 4 people ready to make education better for students in America.</p>
                  <!-- <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div><!-- /.carousel -->

        <!-- Sign in / Sign Up
        ================================================== -->  

        <div id="signupin" class="span3" style="background-color:height:100%">
          <h3>Get More Info</h3>

          We're rapidly developing the software to drive Build That Bill.  
          <br /><br />
          Once everything is set up we will send you an email announcing our grand opening.
          <div id="beta-info-input">
          <input type="email" class="interested-email" style="margin-top:6px;" placeholder="Email address" /> <input type="button" id="request-invite" class="btn btn-primary" value="Stay updated" style="margin-top:-3px;" />   <br />
        </div>
        </div>

      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Issues</h2>
          <p>Most people have an opinion on the issues with US education.  Build That Bill lets people point out issues, discuss them, and vote on which issues most immediately require legislative attention.</p>
          <p><a class="btn btn-success" href="#">View the issues &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Solutions</h2>
          <p>Once an issue gets enough votes, a request can be submitted to create a bill which addresses that issue.  Bills are made by regular people like yourself who use Build That Bill's instructional system for creating a bill.</p>
          <p><a class="btn btn-success" href="#">View proposed solutions &raquo;</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Progress</h2>
          <p>Though Build That Bill was only recently created, we've received an enormous amount of positive feedback.  We're already on the way to making our students brighter by making our education system better.</p>
          <p><a class="btn btn-success" href="#">See whats happening &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading">Creating Opportunity.<span class="muted"> For our children.</span></h2>
        <p class="lead">Its simply a no brainer that kids who are better educated end up having better lives.  In the greatest nation on earth, kids should never be limited by a system that adults have broken.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading">Making a difference.<span class="muted"> For our society.</span></h2>
        <p class="lead">Participating in Build That Bill is personally rewarding as well.  Its work that means something, and all of those who take part can feel a sense of accomplishment knowing they've helped the lives of others.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <h2 class="featurette-heading">Doing what our representatives can't.<span class="muted"> For our future.</span></h2>
        <p class="lead">Our government was structured in a time when things moved a lot slower.  Theres so much happening now that politicians have found other things to work on.  However, Build That Bill knows that education is an issue that can't be lost in the shuffle.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="../assets/js/holder/holder.js"></script>
